/* FRAMEWORK */

/*

html {
  font-size: 1rem;
  @media screen and (min-width: 900px) { font-size: 1.2rem; }
  @media screen and (min-width: 1200px) { font-size: 1.35rem; }
}

*/

body {
  padding-top: 0; background: rgba(0,0,0,0);
  background: url("../images/bg-shield.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-content, #main-wrapper { margin: 50px auto; }

#story-wrapper { background: $gray-light; }
