<!-- menu -->
<nav class="menu" id="site-navigation" role="navigation" aria-label="main menu">
  <ul class="nav level-1 list-reset" role="menubar" aria-hidden="false">
    <li class="has-subnav" role="menuitem" aria-haspopup="true">
      <a href="###">Navigation one</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="###">Navigation two</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="###">Navigation three</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="###">Navigation four</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
  </ul>
<!-- cta -->
  <ul id="cta-navigation" class="nav level-1 list-reset" role="menubar" aria-hidden="false">
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Apply</a>
    </li>
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Info</a>
    </li>
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Visit</a>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="###">i</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
  </ul>
</nav>

<!-- ADD CTA NAV HERE -->
