<!-- FOOTER -->
<!--
</div>
</div>
</div>
</div>
-->
<footer class="container-fluid">
	<div class="container">
    <div id="footer-address" class="vcard">
			<div class="footercard">
				<span class="fn org body small reverse">
					School of Law
				</span>&middot;
				<span class="adr">
						<span class="street-address body small explainer reverse">
	    				Philip H. Corboy Law Center &middot; 25 E. Pearson Street
						</span>,
	    			<span class="locality body small explainer reverse">
	    				Chicago
						</span>,
	    			<span class="region body small explainer reverse">
	    				Il
	    			</span>
	    			<span class="postal-code body small explainer reverse">
	    				60611
	    			</span>
					</span> &middot;
					<span class="tel body small explainer reverse">
	   				312.915.7120
	   			</span>
	   			<a class="email" href="mailto:"></a>
				</div>
				<!-- FOOTERCARD - CLOSED -->
			<p class="body small explainer reverse">&copy; Copyright &amp; Disclaimer 2018</p>
		</div>
		<!-- VCARD - CLOSED -->
  </div>
	<!-- COL-MD-CLOSED - CLOSED -->
</div>
<!-- LUC-FOOTER - CLOSED -->
