<!-- NAV - DESKTOP -->
<nav id="main-navigation" role="navigation">
	<!-- navigation - main -->
	<ul id="site-navigation">
		<li class="active">
			<a href="#">Navigation</a>
		</li>
		<li>
			<a href="#">Navigation</a>
		</li>
		<li class="dropdown">
			<button class="dropdown-button">Navigation</button>
			<div class="dropdown-content">
				<a href="#">Navigation</a>
				<a href="#">Navigation</a>
				<a href="#">Navigation</a>
				<span class="divider" role="separator">
				<a href="#">Navigation</a>
				<span class="divider" role="separator">
				<a href="#">Navigation</a>
			</div>
		</li>
		<li class="dropdown">
			<button class="dropdown-button">Navigation</button>
  		<div class="dropdown-content">
    		<a href="#">Link 1</a>
    		<a href="#">Link 2</a>
    		<a href="#">Link 3</a>
				<div role="separator" class="divider"></div>
				<a href="#">Link 1</a>
				<div role="separator" class="divider"></div>
				<a href="#">Link 1</a>
  		</div>
		</li>
	</ul>
	<!-- navigation - engagement -->
	<ul id="engagement-navigation">
		<!-- engagement - cta -->
		<li id="cta-navigation">
			<ul>
				<li class="active">
					<a href="#">Apply</a>
				</li>
				<li>
					<a href="#">Visit</a>
				</li>
				<li>
					<a href="#">Give</a>
				</li>
			</ul>
		</li>
		<!-- engagement - information -->
		<li id="information-navigation" class="dropdown">
			<button class="dropdown-button">i</button>
  		<div class="dropdown-content">
    		<a href="#">Link 1</a>
    		<a href="#">Link 2</a>
    		<a href="#">Link 3</a>
				<div role="separator" class="divider"></div>
				<a href="#">Link 1</a>
				<div role="separator" class="divider"></div>
				<a href="#">Link 1</a>
  		</div>
		</li>
		<li id="search-navigation"><a href="#" class="search-icon"><img src="images/search-icon.svg"></a>
			<div>
				<form class="form-inline" autocomplete="off" role='search' method="get">
					<div class="form-group">
						<input type="search" class="form-control" id="searchLaw" placeholder="Search Law School">
						<button type="submit" class="btn btn-default">Search</button>
					</div>
				</form>
			</div>
		</li>
	</ul>
</nav>
