<!-- AUDIENCE - DIRECTORY -->
  <nav class="menu container-fluid" role="navigation" aria-label="Main menu">
    <ul id="audience-navigation" class="nav level-1 list-reset" role="menubar" aria-hidden="false">
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Prospective students</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Current students</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Alumni</a>
      </li>
    </ul>
    <ul id="directory-navigation" class="nav level-1 list-reset" role="menubar" aria-hidden="false">
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Support LUC</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Locus</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">Directory</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">contact</a>
      </li>
      <li role="menuitem" aria-haspopup="false">
        <a href="###">A-Z</a>
      </li>
    </ul>
  </nav>
<!-- SITE - BRAND -->
  <div id="site-brand-wrapper" class="container-fluid">
    <span id="site-name">
      <a href="###">
      School of Continuing and Professional Studies
      </a>
    </span>
    <span id="brand">
      <a href="###">
        <img src="/images/luc-logo-reverse.svg">
      </a>
    </span>
  </div>
