<!-- menu -->
<nav id="main" aria-label="Loyola University Chicago">
  <!-- site menu -->
  <ul id="site-nav"
      role="menubar"
      aria-label="Loyola University Chicago">
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="0">
        Navigation one
      </a>
      <ul role="menu" aria-label="NavigationOne">
        <li role="none">
          <a role="menuitem"
             href="mb-about.html#NavigationOneLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-about.html#NavigationOneLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a id="menubar113"
             role="menuitem"
             href="#"
             aria-haspopup="true"
             aria-expanded="false"
             tabindex="-1">
            Link three
          </a>
          <ul role="menu" aria-label="NavigationOneLinkThree">
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkthree"
                 tabindex="-1">
                Link three - link one
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkthree"
                 tabindex="-1">
                Link three - link two
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkthree"
                 tabindex="-1">
                Link three - link three
              </a>
            </li>
          </ul>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#"
             aria-haspopup="true"
             aria-expanded="false"
             tabindex="-1">
            Link four
          </a>
          <ul role="menu" aria-label="NavigationOneLinkFour">
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkfour"
                 tabindex="-1">
                Link four - link one
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkfour"
                 tabindex="-1">
                Link four - link two
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="mb-about.html#linkfour"
                 tabindex="-1">
                Link four - link three
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="-1">
        Navigation two
      </a>
      <ul role="menu" aria-label="NavigationTwo">
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkThree"
             tabindex="-1">
            Link three
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkFour"
             tabindex="-1">
            Link four
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkFive"
             tabindex="-1">
            Link five
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-admissions.html#NavigationTwoLinkSix"
             tabindex="-1">
            Link six
          </a>
        </li>
      </ul>
    </li>
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="-1">
        Navigation three
      </a>
      <ul role="menu" aria-label="NavigationThree">
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkThree"
             tabindex="-1">
            Link three
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkFour"
             tabindex="-1">
            Link four
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkFive"
             tabindex="-1">
            Link five
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="mb-academics.html#NavigationThreeLinkSix"
             tabindex="-1">
            Link six
          </a>
        </li>
      </ul>
    </li>
  </ul>
<!-- cta menu -->
  <ul id="cta-nav"
    role="menubar"
    aria-label="Loyola University Chicago Information">
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="0">
        Apply
      </a>
    </li>
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="-1">
        Info
      </a>
    </li>
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="-1">
        Visit
      </a>
    </li>
    <li id="information" role="none">
      <a id="information-button"
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
        tabindex="-1">
        <span>i</span>
      </a>
        <ul id="information-nav" role="menu" aria-label="Information">
          <li role="none">
            <a role="menuitem"
              href="mb-about.html#InformationLinkOne"
              tabindex="-1">
              Link one
            </a>
          </li>
          <li role="none">
            <a role="menuitem"
              href="mb-about.html#InformationLinkTwo"
              tabindex="-1">
              Link two
            </a>
          </li>
        </ul>
    </li>
    <li id="search" role="none">
      <a id="search-button"
        onclick="openSearch()"
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
        tabindex="-1">
        <span>?</span>
      </a>
        <div id="search-overlay" class="overlay">
          <div class="container">
            <span id="search-close" onclick="closeSearch()" title="Close Overlay">×</span>
            <form class="form-group" role="search">
              <input id="global-search-input" type="search" class="search-input" placeholder="Search LUC.EDU" name="search">
              <button id="gloabal-search-submit" type="submit">Search</button>
            </form>
          </div>
        </div>
    </li>
  </ul>
</nav>
<nav id="main-mobile">
  <button type="button">
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
  </button>
</nav>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('site-nav'));
  menubar.init();
</script>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('cta-nav'));
  menubar.init();
</script>
