<!-- CONTENT-PANELS -->

<!-- LEAD ===============================
======================================-->

	<section>
		<div id="content-lead" class="container-fluid">
			<image src="http://via.placeholder.com/1800x735"/>
  	</div>
	</section>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Lead</h6>
		</div>
	</div>


<!-- IMAGE - OVERLAY ====================
======================================-->

<!-- image-overlay -->
	<section class="container-fluid">
		<div id="content-image-overlay">
			<div id="content-lead">
				<image src="http://via.placeholder.com/1800x1000"/>
			</div>
			<div class="overlay">
<!-- blockquote -->
				<blockquote>
					“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.”
				</blockquote>
				<cite>
					“Lorem ipsum unum hereum.”
				</cite>
			</div>
		</div>
	</section>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Image overlay</h6>
		</div>
	</div>


<!-- TEXT ===============================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- text -->
	<section class="container content-panel-padding">
		<div id="content-text">
			<h4>Subhead here lorem ipsum unum</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Text</h6>
		</div>
	</div>

<!-- CARDS ============================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- cards -->
	<section class="container">
		<div id="content-cards" class="grid-wrapper">
			<div class="col-span-4" class="card">
				<img src="http://via.placeholder.com/1000x560" alt="Alternative title here">
				<div class="card-content">
					<h4>Card headline here</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci.</p>
					<a>CTA here here</a>
				</div>
			</div>
			<div class="col-span-4" class="card">
				<img src="http://via.placeholder.com/1000x560" alt="Alternative title here">
        <div class="card-content">
					<h4>Card headline here</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci.</p>
					<a>CTA here here</a>
        </div>
			</div>
			<div class="col-span-4" class="card">
				<img src="http://via.placeholder.com/1000x560" alt="Alternative title here">
				<div class="card-content">
					<h4>Card headline here</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci.</p>
					<a>CTA here here</a>
				</div>
			</div>
		</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Cards</h6>
		</div>
	</div>

<!-- NUMBERS ============================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- numbers -->
	<section class="container">
		<div id="content-number" class="grid-wrapper">
				<div class="col-span-4 number-md">
					<h2>010</h2>
					<span>Readout number description</span>
				</div>
				<div class="col-span-4 number-md">
					<h2>010</h2>
					<span>Readout number description</span>
				</div>
				<div class="col-span-4 number-md">
					<h2>010</h2>
					<span>Readout number description</span>
				</div>
			</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Numbers</h6>
		</div>
	</div>

<!-- IMAGE - TEXT =======================
======================================-->

<!-- image-text -->
	<section class="container-fluid">
		<div id="content-image-text" class="grid-wrapper grid-wrapper-no-gap">
			<div id="content-image-text-image" class="grid-item col-span-6">
				<image src="http://via.placeholder.com/1000x1000"/>
			</div>
  		<div id="content-image-text-text" class="grid-item col-span-6">
				<h3>Headline lorem ipsum hereum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<hr></hr>
				<footnote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</footnote>
			</div>
  	</div>
	</section>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Image and text</h6>
		</div>
	</div>

<!-- BLOCKQUOTE =========================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- blockquote -->
	<section class="container">
		<div id="content-blockquote">
			<blockquote>
				“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.”
			</blockquote>
			<cite>
				“Lorem ipsum unum hereum.”
			</cite>
		</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Blockquote</h6>
		</div>
	</div>
