<!-- CONTENT-PANELS -->

<!-- LEAD ===============================
======================================-->

	<section>
		<div id="lead" class="container-fluid">
			<image src="http://via.placeholder.com/1800x735"/>
  	</div>
	</section>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Lead</h6>
		</div>
	</div>

<!-- IMAGE - TEXT =======================
======================================-->

<!-- image-text -->
	<section class="container-fluid">
		<div class="grid-wrapper grid-wrapper-no-gap">
			<div id="image-text-image" class="grid-item col-span-6">
				<image src="http://via.placeholder.com/1000x1000"/>
			</div>
  		<div id="image-text-text" class="grid-item col-span-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
			</div>
  	</div>
	</section>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Image and text</h6>
		</div>
	</div>

<!-- BLOCKQUOTE =========================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- blockquote -->
	<section class="container">
		<div id="blockquote">
			<blockquote>
				“Lorem ipsum unum hereum.”
			</blockquote>
			<cite>
				“Lorem ipsum unum hereum.”
			</cite>
		</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Blockquote</h6>
		</div>
	</div>


<!-- TEXT ===============================
======================================-->

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- blockquote -->
	<section class="container content-panel-padding">
		<div id="blockquote">
			“Lorem ipsum unum hereum.”
		</div>
	</section>

<!-- padding - divider -->
	<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>

<!-- label -->
	<div class="content-panel-label container-fluid">
		<div class="container">
			<h6>Content panel - Blockquote</h6>
		</div>
	</div>
