<section>
	<h2>
		Blockquote
		</h2>
<div class="uppercase">
	<blockquote>
		“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet.”
		</blockquote>
	<cite>
		— Blockquote cite, CEO, <a href="#">Link here</a>
	</cite>
</div>
<hr class="padding-divider"></hr>
<footnote>Use div class "uppercase"</footnote>
<div class="padding-md"></div>
<div class="lowercase">
	<blockquote>
		“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.”
	</blockquote>
	<cite>
		— Blockquote cite, CEO, <a href="#">Link here</a>
	</cite>
</div>
<hr class="padding-divider"></hr>
<footnote>Use div class "lowercase"</footnote>
<div class="padding-md"></div>
</section>
