<section>
	<h5>
		Images
	</h5>
	<figure>
  	<img src="http://placehold.it/1000x560" alt="This is a placeholder image">
  	<figcaption>This is a caption for this image lorem ipsum unum hereum.</figcaption>
	</figure>
	<div class="spacer-category"></div>
	<h6>
		Standalone
	</h6>
	<figure>
  	<img src="http://placehold.it/1000x560" alt="This is a placeholder image">
  	<figcaption>
  		<p class="credit">
				Byline Name Herehere
			</p>
			<h1>
				h1 headline for a stanalone image
			</h1>
			<p>
  			This is a caption for this image lorem ipsum unum hereum.
  		</p>
  	</figcaption>
	</figure>
</section>
