<section id="home">
	<h5>
		ID Home
	</h5>
	<h1>
		H1 used as a first-level headline
	</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.obortis dictum. <span><a href="#">Link</a></span>
	</p>
	<hr class="padding-divider"></hr>
  <footnote>Only for use on lede homepage story</footnote>
	<div class="padding-md"></div>
	<h2>
		H2 used as a second-level headline
	</h2>
	<p>
		Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider"></hr>
  <footnote>Use section headers on homepage</footnote>
	<div class="padding-md"></div>
	<h3>
		H3 used as a third-level headline
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider"></hr>
	<footnote>Use as paragraph subheads or on cards</footnote>
	<div class="padding-md"></div>
	<h4>
		H4 used as a subhead
	</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem.
	</p>
	<hr class="padding-divider"></hr>
	<footnote>Use as a light label for contrast or in modules section</footnote>
	<div class="padding-md"></div>
	<h5 class="label">
		H5 used as a label
	</h5>
	<p>
		Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider"></hr>
	<footnote>Use as a standard label on modules or headers</footnote>
	<div class="padding-md"></div>
	<h6>
		H6 used as a category
	</h6>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</p>
	<hr class="padding-divider"></hr>
	<footnote>Use as a small label</footnote>
	<div class="padding-md"></div>
</section>
