 
<section>
	<h5>
		CTAS
	</h5>
	<h6>
		Inline
	</h6>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Apply now</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Request Info</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Visit us</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Deposit now</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Register now</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">RSVP now</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Learn more</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Read more</a>
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Give to Loyola</a>
	</p>
	<h6>
		Buttons
	</h6>
	<button type="submit" class="btn cta">Apply now</button>
	<button type="submit" class="btn cta">Request info</button>
	<button type="submit" class="btn cta">Visit us</button>
	<button type="submit" class="btn cta">Register now</button>
	<button type="submit" class="btn cta">RSVP now</button>
	<button type="submit" class="btn cta">Learn more</button>
	<button type="submit" class="btn cta">Read more</button>
	<button type="submit" class="btn cta">Give to Loyola</button>
	<button type="submit" class="btn cta">Submit</button>
</section>
