<section>
	<h2>
		Body styles
		</h2>
	<h5>
		Paragraphs
	</h5>
	<p>
		This is paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
		<hr class="padding-divider"></hr>
		<footnote>Standard < p > tag</footnote>
		<div class="padding-md"></div>
	<footnote>
		This is a footnote. You can add a small amount of information here.
	</footnote>
		<hr class="padding-divider"></hr>
		<footnote>Use < footnote  > tag </footnote>
		<div class="padding-md"></div>
	<details>
		<summary>Details</summary>
	  <p>Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
	</details>
		<hr class="padding-divider"></hr>
		<footnote>Use < details  > tag to contain more information</footnote>
		<div class="padding-md"></div>
</section>
