:focus {
	outline-color: $maroon;
}

nav {
	width: 100%;
	background-color: $maroon-extra-dark;
	li {
		float: left;
		position: relative;
		margin: 0;
		padding: 0;
		font-family: 'Antenna Bold', sans-serif;
		font-size: .65em;
		color: darken($gray-light,10%);
	  letter-spacing: .025em;
		text-transform: uppercase;
	  text-decoration: none;
	  list-style: none;
		a {
			float: left;
			padding: 12px 10px 10px;
			width: auto;
			color: darken($gray-light, 7%);
			text-transform: uppercase;
			text-decoration: none;
			border: 0 none;
			transition: background-color .3s;
		}
	}
}

#site-brand-wrapper,
#audience-navigation,
#directory-navigation,
nav {
	float: left;
	margin: 0;
	padding: 0;
}

#directory-navigation,
#cta-navigation {
	float: right;
}

#audience-navigation > li,
#directory-navigation > li {
	background-color: none;
	a { background-color: $maroon-extra-dark;
	&:hover, &:focus {
		background-color: darken($maroon-extra-dark,10%);
	}
	}
}

#directory-navigation li {
	float: left;
	&:hover, &:focus {
		background-color: darken($maroon-extra-dark,10%);
	}
}

#site-navigation {
	background-color: darken($gray,2%);
	li {
		font-family: 'Antenna', sans-serif;
		color: $gray-light;
		font-size: .775em;
		border-left: solid 1px darken($gray,20%);
		a {
			padding: 22px 20px 8px;
			color: $gray-extra-light;
		}
	}
	@include tablet-portrait {
		display: none;
	}
}

#site-navigation-mobile {
	display: none;
	padding: 8px 10px;
	background-color: darken($gray,2%);
	button {
		float: right;
		padding: 6px;
		width: 45px;
		border: none;
		border-radius: 4px;
		background-color: $gray-extra-dark;
		span.menu-icon-bar {
			float: left;
			margin: 3px 5%;
			width: 90%;
			min-height: 4px;
			height: 4px;
			color: lighten($gray, 20%);
			background-color: $gray;
		}
	}
	@include tablet-portrait {
		display: block;
	}
}

#site-navigation > ul > li > a {
	background-color: darken($gray,2%);
	&:hover, &:focus {
		background-color: darken($gray,10%);
	}
}

#site-navigation > ul > li > ul,
#cta-navigation > ul > li > ul {
	background-color: darken($gray,10%);
	z-index: 2;
}

#cta-navigation li ul {
	left: -155px;
	li {
	background-color: darken($gray,15%);
		a {
			&:hover, &:focus {
				background-color: darken($gray,20%);
			}
		}
	}
}

#site-navigation > #cta-navigation > #information,
#site-navigation > #cta-navigation > #search {
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	transition: background-color .2s;
}

#site-navigation > #cta-navigation > #information:hover,
#site-navigation > #cta-navigation > #search:hover,
#site-navigation > #cta-navigation > #information:focus,
#site-navigation > #cta-navigation > #search:focus {
	background-color: darken($gray,2%);
	&:hover, &:focus {
		background-color: darken($gray,10%);
	}
}

#site-navigation > #cta-navigation > #search:focus {
	outline: 0 none !important;
}

#site-navigation > #cta-navigation > #information #information-button,
#site-navigation > #cta-navigation > #search #search-open {
	position: absolute;
	left: 15%;
	top: 15%;
	width: 70%;
	height: 70%;
	padding: 22%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: darken($bg-overlay-light,12%);
}

#site-navigation > #cta-navigation > #information #information-button span,
#site-navigation > #cta-navigation > #search #search-open span {
 position: absolute;
 left: 25%;
 top: 28%;
 width: 50%;
 height: 50%;
 font-family: 'Georgia', serif;
 font-size: 1.15em;
 font-weight: 600;
 font-style: italic;
 line-height: 1.25;
 color: $gray-light;
 text-align: center;
 text-transform: none;
}

#site-navigation > #cta-navigation > #information > #information-menu {
	position: relative;
	top: 50px;
	right: -250px;
	opacity: 0;
}

#site-navigation li li {
	border: none;
	a {
		padding: 16px 20px 15px;
		text-transform: none;
		border-bottom: solid 1px lighten($gray,10%);
		&:hover {
			background-color: darken($gray,15%);
		}
	}
}

/* dropdowns */

.nav ul {
	position: absolute;
	top: 47px;
	left: -9999px;
	opacity: 0;
	transition: 0.2s linear opacity;
	min-width: 200px;
	border: none;
}

.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
	background: darken($gray,15%);
	outline: 0;
}

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
	left: -1px;
	opacity: 0.99;
}

.nav ul li {
	float: none;
	position: static;
}

.nav ul a {
	float: none;
	display: block;
	font-size: 12px;
	text-shadow: none;
	transition: 0.1s linear all;
}

.nav ul a:hover,
.nav ul a:focus {
	text-shadow: none;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	visibility: hidden;
	display: none;
}

/* SEARCH OVERLAY */

#search #search-overlay.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}
#search .container {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin: auto;
}
/* SEARCH OVERLAY CLOSE */
#search-overlay.overlay #search-close {
  position: absolute;
  top: -100px;
  right: 0%;
  font-size: 4em;
  cursor: pointer;
  color: white;
}

#search-overlay.overlay #search-close:hover {
  color: #ccc;
}

/* SEARCH FORM */
#search-overlay form {
	font-family: 'Antenna', sans-serif;
  font-size: 1em;
  line-height: 0;
  color: $white;
	-webkit-text-stroke: 0 none !important;
}

#search .form-group {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

#search-overlay form .form-group:focus,
#search-overlay form .form-group:active,
#search-overlay form .form-group input {
  background: none;
  box-shadow: none;
	outline: 0 none;
}

#search-overlay form .form-group,
#search-overlay form .form-group:hover {
  background-color: lighten($gray, 20%);
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}

#search-overlay form input#global-search-input {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin: 0;
	padding: 30px 40px 30px 30px;
  width: 80%;
  height: 100px;
	font-family: 'Antenna', sans-serif;
  font-size: 1.75em;
	text-transform: none;
  border: 0;
	border-radius: 10px 0 0 10px;
	background: $gray-light;
	transition: 0.1s linear all;
}

#search-overlay form input#global-search-input:hover {
	background: $gray-extra-light;
}

#search-overlay form input#global-search-input::placeholder {
	text-transform: uppercase;
}

#search-overlay form button {
	position: relative;
  float: right;
	box-sizing: border-box;
	margin: 0;
	padding: 8px 12px;
  width: 20%;
	height: 100px;
	font-family: 'Antenna', sans-serif;
  font-size: 1.75em;
	color: $gray-light;
	outline: 0 none;
	border-radius: 0 10px 10px 0;
	background-color: $maroon-dark;
	cursor: pointer;
	transition: all .2s;
		&:hover {
			color: darken($gray-light, 10%);
			background-color: darken($maroon-dark, 5%);
		}
}

#search-label { font-size: .015em; }

/* CSS - END */
