/* ===============================================

#page-content article { width: 93.103% !important; max-width: 93.103% !important; min-width: 93.103% !important; }

/* ===============================================
FONT-SIZE - RESET ============================= */

/* Document level adjustments */
html { font-size: 16px; }

body {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

.story-body {
  max-width:700px;
}

/* Body Content */

#pag-content {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@include phone-landscape {
  #page-content {
    font-size: 1em;
    line-height: 1.375;
  }
}


/* ===============================================
GLOBAL========================================= */

.maroon { color: $maroon-dark !important; }

.reverse { color: $gray-light !important; }

.sentence-case { text-transform: none !important; }

.inline { display: inline; width: auto; }

.label.light { opacity: .25; }

.rule-left { border-left: solid 1px $gray-light; }

.boxed { margin: 20px 0; padding: 20px; background: $gray-extra-light; }

.boxed-mid { margin: 20px 0; padding: 20px; background: $gray-dark; }

.boxed-dark, .boxed-dark-gallery { margin: 20px 0; padding: 20px; background: $gray-extra-dark; }

.boxed-dark-gallery { padding: 40px; }

.bg-info, .bg-success, .bg-warning, .bg-danger { background-color: rgba(0,0,0,.1); }


/* ===============================================
HEADERS =================== */

h1, h2, h3, h4, h5, h6 {
	font-family: "Antenna Bold", sans-serif;
}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    margin-top: 2em;
}

h1 {
	font-size: 3em;
	line-height: 1.05em;
	margin-bottom: 1.25rem;
}

h2 {
	font-size: 2.25em;
	line-height: 1.25em;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.75em;
	line-height: 1.25em;
	margin-bottom: 1rem;
  text-transform: uppercase;
}

h4 {
	font-size: 1.425em;
	line-height: 1.222222em;
	margin-bottom: .85rem;
}

h5 {
	font-size: 1.05em;
	line-height: 1.222222em;
	margin-bottom: .5rem;
	text-transform: uppercase;
}

h6 {
	font-size: .875em;
	line-height: 1.222222em;
	margin-bottom: .5rem;
	text-transform: uppercase;
  font-family: "Antenna Light", sans-serif;
  letter-spacing: 0.025em;
}

p {
	font-size: 1.25em;
	font-family: "myriad-pro", sans-serif;
	line-height: 1.65em;
	margin: 0 0 0.975rem 0;
}

p.intro {
	font-size: 1.375em;
	font-family: "Arnhem", serif;
	line-height: 1.75em;
}

p.explainer {
  font-style: italic;
}

p.footnote {
  font-size: 1em;
  line-height: 1.85em;
}

@include tablet-portrait {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }
	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}
	h3 {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	h4 {
		line-height: 1.11111em;
	}
}

@include phone-landscape {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }
	h2 {
		font-size: 1.625em;
		line-height: 1.15em;
	}
	h3 {
		font-size: 1.375em;
		line-height: 1.4em;
	}
  h4 {
    font-size: 1.275em;
    line-height: 1.4em;
  }
	p {
		font-size: 1.15em;
		line-height: 1.65em;
	}
  p.intro {
    font-size: 1.25em;
    line-height: 1.65em;
  }
}




/* ===============================================
Links ======================================= */

article a {
	color: $maroon-dark;
}

/* ===============================================
CREDITS ======================================= */




/* ===============================================
BREAKOUTS ===================================== */
