/* FRAMEWORK */

body {
  margin: 0;
  padding-top: 0; background: rgba(0,0,0,0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-content, #main-wrapper { margin: 50px auto; }

#story-wrapper { background: $gray-light; }

main, .container-fluid { box-sizing: border-box; width: 100%; }

main article, .container { box-sizing: border-box; margin: 0 auto; width: 70%; }

#luc-header {
  position: fixed;
  background: $bg-overlay;
}

/* header */

#luc-header {
  position: fixed;
}

/* audience - directory header */

#audience-directory-header {
  position: fixed;
  padding: 8px 0;
  width: 100%;
  height: 35px;
  max-height: 35px;
  background: $maroon-extra-dark;
  ul {
    margin: 0;
  }
  ul li {
    display: inline;
    float: left;
    padding: 0;
    text-transform: uppercase;
    border: none;
    &:first-child {
      border: none;
    }
    &:hover {
      background: none;
    }
    a {
      font-size: .75em !important;
      color: $gray-light;
      &:hover {
        color: $white-base;
      }
    }
  }
}

#audience-directory-header ul#directory-nav li {
  float: right;
}

#luc-header #audience-directory-header li a {
  padding: 0 5px;
}

/* global-header */

#luc-header {
  margin-top: 35px;
  padding: 30px 20px 15px;
  background: $bg-overlay-extra-dark;
}

#loyola-brand {

}

#luc-header a#loyola-university-brand {
  float: right;
  margin: 0;
  padding: 0;
  width: 30%;
  height: auto;
  img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 45px;
    opacity: .8;
  }
}

#luc-header span a#loyola-school-name {
  position: relative;
  bottom: -5px;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
  font-family: 'Antenna Light', 'Georgia', sans-serif !important;
  font-size: 2.5em;
  font-weight: 100;
  color: $gray-extra-light;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  background: none;
  a, a#navbar-brand-mobile {
    margin: 0;
    padding: 0;
    font-family: 'Antenna Light', 'Georgia', serif !important;
    color: $gray-extra-light;
    transition: color .2s;
  }
  &:hover {
    color: $white-base;
  }
}

#luc-header h1 a.navbar-brand-mobile {
  display: none !important;
/*
//  @include media-breakpoint-down(md) {
    display: block !important;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 20px;
  }
*/
}

/* header */

#luc-header .navbar-default .navbar-nav>.active>a,
#luc-header .navbar-default .navbar-nav>.active>a:focus,
#luc-header .navbar-default .navbar-nav>.active>a:hover {
  color: $gray;
}

#luc-header {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  z-index: 10;
}

#luc-header .navbar-collapse,
#luc-header #mobile-navbar-header,
#luc-cta li#luc-information ul li a,
#luc-header .navbar-default .navbar-nav>.active>a,
#luc-header .navbar-default .navbar-nav>.active>a:focus,
#luc-header .navbar-default .navbar-nav>.active>a:hover,
.dropdown-menu,
#luc-header ul#luc-navigation .dropdown-menu,
#luc-header li#luc-information .dropdown-menu,
#luc-header li#luc-search .dropdown-menu {
  background-color: lighten($gray-dark, 20%);
  a {
    &:hover {
      background-color: lighten($gray-dark, 10%);
    }
  }
}

#luc-header li#luc-information,
#luc-header li#luc-search a,
#luc-header li#luc-search {
  transition: background-color .2s;
  &:hover {
    background-color: lighten($gray-dark, 15%) !important;
  }
}

#luc-search.dropdown.open ul#drop {
  background: $bg-overlay-extra-dark;
}

#navbar-header {
  display: block;
  width: 100%;
  border-top: solid 1px $gray-dark;
  border-radius: 0%;
  a {
    font-family: 'Antenna', sans-serif;
    text-transform: uppercase;
  }
}

#navbar-header > button {
  background: lighten($gray-extra-dark, 20%);
  border: none;
  transition: background-color .2s;
  &:hover {
    background: lighten($gray-extra-dark, 15%);
  }
}

#luc-header .nav.navbar-nav {
  width: auto;
  background-color:  rgba(0,0,0,0);
}

#luc-header .navbar-collapse {
  padding: 0;
}

/* header navigation - first-level - general */

#luc-navigation ul {
  padding: 0 20px 2px;
}

#luc-header li {
  margin: 0;
  padding: 0;
  font-size: .75em;
  letter-spacing: .025em;
  text-transform: none;
  border-right: solid 1px $gray-dark;
  &:first-of-type { border-left: solid 1px $gray-dark; }
  a {
    padding: 22px 20px 8px;
    color: $gray-light;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s;
  }
  &:hover {
    z-index: 100000;
  }
}

/* header navigation - first-level - cta > info + cta > search */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
}

/* header navigation - first-level - position */

#luc-cta li#luc-information, #luc-cta li#luc-search {
  position: relative;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 50px;
}

/* header navigation - first-level - cta */

#luc-cta {
  float: right;
  ul {
    margin: 0;
  }
}

#luc-cta li {
  float: left;
  width: 70px;
  padding: 0%;
  border-left: solid 1px $gray-dark;
  border-right: none;
  a {
    box-sizing: border-box;
    padding: 22px 10px 8px;
    width: 100%;
    font-family: 'Antenna', sans-serif;
    letter-spacing: .025em;
    text-align: center;
    text-transform: uppercase;
  }
}

/* header navigation - first-level - cta > info */

#luc-cta li#luc-information a {
  margin: 25%;
  padding: 0;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 50%;
  text-align: left;
  text-transform: none;
}

#luc-header li span.information-icon {
  position: absolute;
  top: 60%;
  bottom: 25%;
  left: 0;
  right: 0;
  height: 20%;
  font-family: 'Arnhem Blond Italic', 'Georgia', serif !important;
  font-size: 1.25em;
  line-height: 0;
  text-align: center;
  border: none;
}

/* header navigation - first-level - cta > search */

#luc-search.dropdown.open ul#drop {
  margin-bottom: 0;
  height: 100vh;
  z-index: 10000;
}

#luc-cta li#luc-search a {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  -webkit-text-stroke: 2px lighten($bg-overlay, 48%);
  line-height: 0;
  color: $white-base;
  border-left: none;
}

#luc-search > a > span:hover { background: none; }

#luc-search > a > span:first-of-type { border: none !important; }

#luc-search #drop form .form-group:focus,
#luc-search #drop form .form-group:active,
#luc-search #drop form .form-group input {
  background: none;
  box-shadow: none;
}

#luc-search #drop form .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

#luc-search #drop form .form-group,
#luc-search #drop form .form-group:hover {
  background-color: lighten($gray, 20%);
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}

#luc-header li#luc-search button.btn {
  color: $gray-light;
  border-color: $maroon-extra-dark;
  background-color: $maroon-extra-dark;
  transition: background .2s;
    &:hover {
      color: darken($gray-light, 10%);
      border-color: darken($maroon-extra-dark, 10%);
      background-color: darken($maroon-extra-dark, 10%);
    }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 0 none !important;
  outline: none !important;
  outline-color: none !important;
  box-shadow: none !important;
}
