/* ===============================================
FORMS ========================================= */

#page-content article.content input,
#page-content article.content textarea,
#page-content article.content .uneditable-input { width: 100%; }

#page-content article.content input[type="radio"],
#page-content article.content input[type="checkbox"] { width: auto; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { margin-bottom: 0; }

input[type="radio"], input[type="checkbox"] { margin-left: 0 !important; margin-right: 5px !important; width: auto; }

form {
  display: inline-block;
  font-family: "Antenna Light", sans-serif;
  text-transform: uppercase;
  font-size: .85em;
  margin-bottom: 10px;
}

/* PLACEHOLDER */

.checkbox label span, .checkbox-inline label span { display: inline-block; margin: 0 0 0 15px; }

::-webkit-input-placeholder { font-family: "Antenna", "Arial", sans-serif; font-size: .775em; color: $gray-light; text-transform: uppercase; } /* WebKit, Blink, Edge */

:-moz-placeholder { font-family: "Antenna", "Arial", sans-serif; font-size: .775em; color: $gray-light; opacity: 1; text-transform: uppercase; } /* Firefox 4 to 18 */

::-moz-placeholder { font-family: "Antenna", "Arial", sans-serif; font-size: .775em; color: $gray-light; opacity: 1; text-transform: uppercase; }  /* Firefox 19+ */

:-ms-input-placeholder { font-family: "Antenna", "Arial", sans-serif; font-size: .775em; color: $gray-light; text-transform: uppercase; } /* IE 10-11 */

:placeholder-shown { font-family: "Antenna", "Arial", sans-serif; font-size: .775em; color: $gray-light; text-transform: uppercase; } /* Standard */

/* FOCUS STATES */

select:focus { text-transform: uppercase; font-size: .65em; }


/* ===============================================
TABLES ======================================== */

table, th, tr, td,
#page-content table, #page-content th, #page-content tr, #page-content td,
#page-content table th, #page-content table tr, #page-content table td {
	padding: 8px 6px 7px;
	font-family: 'Antenna', san-serif;
	font-size: .925em;
	font-weight: 100;
	line-height: 1.35;
	letter-spacing: .015em;
}

table, #page-content table,  {
	margin: 20px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

tr, #page-content tr, #page-content table tr { border-left: solid 1px $gray-light; border-right: solid 1px $gray-light; }

tr th, #page-content tr th {
	font-weight: bold;
	letter-spacing: .5px;
	color: $gray-light;
	text-transform: uppercase;
	border-right: solid 1px $gray-light;
	background: $gray-dark;
}

td, #page-content td, #page-content td {
	vertical-align: top;
	width: 100px;
	border-right: solid 1px $gray-light;
	border-bottom: solid 1px $gray-light;
}

#page-content tr th.st-head-row.st-head-row-main { background: $maroon-dark; }

.table-sub-group { margin: 30px 0 0 0; padding: 0; width: 100%; } /* Separates groupings within tables */

.stacktable { width: 100%; }

.st-head-row { padding-top: .85em; } .st-head-row a { color: $gray-light; }

.st-head-row.st-head-row-main { font-size: 1em; }

.st-key { width: 19%; text-align: left; padding-right: 1%; }

.st-val { width: 79%; padding-left: 1%; }

/* DESKTOP */

.stacktable.large-only { display: table; }

.stacktable.small-only { display: none; }

/* TABLE - RESPONSIVE ========================= */

@media (max-width: 800px) {

table, th, tr, td,
#page-content table, #page-content table th, #page-content table tr, #page-content table td {
	font-family: 'Antenna', san-serif;
	font-size: .935em;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 5px 8px 4px; }

tr th, #page-content tr th, #page-content table tr th { text-transform: none; }

.stacktable.large-only { display: none; }

.stacktable.small-only { display: table; }

.st-head-row { background: $gray-extra-dark; }

.st-head-row.st-head-row-main {
	color: $gray-light;
	text-transform: uppercase;
	background: $gray-dark;
}

}



/* ===============================================
CSS END ======================================= */
