/* FRAMEWORK */

* {
    box-sizing: border-box
}

#main-article-wrapper {
  display: none;
}

body {
  top: 0;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* general and global */

.container-fluid { box-sizing: border-box; width: 100%; }

.container { box-sizing: border-box; margin: 0 auto; width: 70%; }

/* header */

header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  background: $bg-overlay-extra-dark;
  box-shadow: 0px 2px 5px rgba(0,0,0,.35);
  z-index: 10;
}

header #site-brand-wrapper {
  padding: 20px 10px;
  background: $gray-extra-dark;
}

header span {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 45px;
  }
}

/* site name */

header #site-name {
  position: relative;
  bottom: -5px;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-family: 'Antenna', sans-serif !important;
  font-size: 2.5em;
  color: $gray-light;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  background: none;
  a {
    color: darken($gray-light,5%);
    text-decoration: none;
    transition: color .2s;
    &:hover {
      color: $white;
    }
  }
}

header #brand {
  float: right;
  background: none;
  img {
    float: right;
    opacity: .8;
  }
}
