.content-panel-label {
  padding: 20px 0;
  color: $gray;
  background: $gray-extra-dark;
  h6 {
    margin: 0;
    text-align: center;
  }
}

.content-pannel-padding {
  padding: 60px 0;
}

#lead img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/* image-text-text */

#image-text-image img {
  display: flex;
  flex: 1;
  object-fit: cover;
  left: -50%;
  right: -50%;
  width: 100%;
  height: auto;
}

#image-text-text.grid-item {
  padding: 60px;
}

#image-text-text p:last-child {
  margin: 0;
}

/* blockquote */

#blockquote blockquote {
  margin: 0 0 10px 0;
  width: 100%;
}

#blockquote cite {
  margin: 0;
  width: 100%;
}
