/* FRAMEWORK */

* {
    box-sizing: border-box;
}

.visibility-hidden { visibility: hidden;}

body {
  top: 0;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* general and global */

.container-fluid { box-sizing: border-box; width: 100%; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  @include phone-landscape {
    width: 90%;
  }
}

/* header */

header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  background: $bg-overlay-extra-dark;
  box-shadow: 0px 2px 5px rgba(0,0,0,.35);
  z-index: 10;
}

header #site-brand-wrapper {
  padding: 20px 10px;
  background: $gray-extra-dark;
}

header span {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 45px;
    @include tablet-landscape {
      display: block;
      height: 40px;
    }
  }
}

/* site name */

header #site-name,
header #loyola-university-chicago {
  position: relative;
  bottom: -5px;
  margin: 0 10px;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Antenna', sans-serif !important;
  font-size: 2.25em;
  color: $gray-light;
  line-height: 1.15;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  background: none;
  a {
    color: darken($gray-light,5%);
    text-decoration: none;
    transition: color .2s;
    &:hover {
      color: $white;
    }
  }
  @include desktop-small {
		font-size: 1.65em;
	}
  @include tablet-portrait {
    margin: 0;
  }
}

header #loyola-university-chicago {
  display: none;
  bottom: auto;
  margin: 0;
  margin-bottom: 5px;
  font-size: .95em;
  letter-spacing: .035em;
  line-height: 1;
  text-transform: uppercase;
  background: none;
  @include tablet-portrait {
    display: block;
		font-size: .75em;
	}
}

header #brand {
  float: right;
  background: none;
  img {
    float: right;
    opacity: .8;
  }
}

/* BUTTON */

button {
	text-rendering: auto;
	display: inline-block;
	padding: 8px 12px;
	border: 2px solid $maroon;
	border: 2px solid var(--wai-green);
	font-family: 'Antenna Bold', sans-serif;
	font-size: .8125rem;
	line-height: 1.4;
	letter-spacing: .015em;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: $gray-light;
	border-radius: 5px;
	background-color: $maroon;
	background-color: var(--wai-green);
	cursor: pointer;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  padding: 10px 20px 15px;
  width: 100%;
  background: darken($gray-light,12%);
  z-index: 10000;
  @include tablet-portrait {
    padding: 0;
    bottom: 0;
  }
}

footer span, footer p {
  font-family: 'Arial', sans-serif;
  font-size: .925em;
  line-height: 1.5;
  letter-spacing: -.015em;
  color: $gray-extra-dark;
  margin-bottom: 0;
}

#footer-address {
  margin-top: 10px;
  @include tablet-portrait {
    display: none;
  }
}

#footercard #street-address,
#footercard #locality,
#footercard .region,
#footercard .postal-code {
  font-size: 1em;
}

/* MOBILE-NAV-BAR */

nav#main-mobile {
  display: none;
  margin: 0 0 10px;
  padding: 10px 0;
  background-color: darken($gray,2%);
  @include tablet-portrait {
    display: block;
    margin: 0;
  }
}

#main-mobile .container-fluid .container {
  @include tablet-portrait {
    padding: 0 15px;
    width: 100%;
  }
}

nav#main-mobile .menu-bar {
  display: block;
  margin: 6px 0;
  width:35px;
  height: 4px;
	background-color: lighten($gray-extra-dark,10%);
}
