/* SLIDING NAV - ACCESS - PANEL */
/*
nav#main-mobile {
	display: none;
	margin: 0 0 10px;
	padding: 8px 10px;
	background-color: darken($gray,2%);
	button {
		float: right;
		padding: 6px;
		width: 45px;
		border: none;
		border-radius: 4px;
		background-color: $gray-extra-dark;
		span.menu-icon-bar {
			float: left;
			margin: 3px 5%;
			width: 90%;
			min-height: 4px;
			height: 4px;
			color: lighten($gray, 20%);
			background-color: $gray;
		}
	}
	@include tablet-portrait {
		display: block;
	}
}
*/

/* The side navigation menu */
.sidenav {
	position: fixed; /* Stay in place */
	top: 0; /* Stay at the top */
	left: 0;
	padding: 20px;
	padding-top: 60px; /* Place content 60px from the top */
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  background-color: $gray-light; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
	z-index: 1; /* Stay on top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a,
.Accordion-title {
	display: block;
  padding: 8px 0 8px 0;
  text-decoration: none;
	font-family: 'Antenna', sans-serif;
  font-size: 1em;
  color: $gray;
	text-transform: uppercase;
	border-bottom: solid 1px $gray-dark;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin: 0;
	border-bottom: none;
}

/* No effect - header is fixed */
/*
#main-wrapper {
  transition: margin-left .5s;
  padding: 0px;
}
*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ACCORDION */

.Accordion {
  margin: 0;
  padding: 0;
  width: auto;
}

.Accordion h3 {
  margin: 0;
  padding: 0;
	width: 100%;
	background: none;
	button {
		width: 100%;
	}
}

.Accordion.focus {
  border-color: $maroon-dark;
}

.Accordion.focus h3 {
  background-color: none;
}

.Accordion-trigger {
  background: none;
  color: hsl(0, 0%, 13%);
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
}

.Accordion-trigger:focus,
.Accordion-trigger:hover {
  background: none;
	outline: 3px solid $maroon-dark;
	outline-offset: -3px;
}

.Accordion *:first-child .Accordion-trigger {
  border-radius: 0;
}

button {
  border-style: none;
}

.Accordion button::-moz-focus-inner {
  border: 0;
}

.Accordion-title { /* see also sidepanel a - above */
  display: block;
  pointer-events: none;
	font-size: 1.25em;
  outline: none;
	background: none;
}

.Accordion-trigger:focus .Accordion-title {
  border-color: $maroon-dark;
}

.Accordion-icon {
  border: solid hsl(0, 0%, 62%);
  border-width: 0 2px 2px 0;
  height: 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 0.5rem;
	background: none;
}

.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
  border-color: $maroon-dark;
}

.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
  transform: translateY(-50%) rotate(-135deg);
}

.Accordion-panel {
  margin: 0;
  padding: 0;
}

.Accordion-panel p {
	background: none;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.Accordion-panel[hidden] {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid hsl(0, 0%, 62%);
  border-radius: 0.3em;
  display: block;
  font-size: inherit;
  padding: 0.3em 0.5em;
}
