<nav id="main-mobile">
  <div class="container-fluid p-0">
  	<div class="container">
      <button aria-controls="global-nav" aria-haspopup="true" tabindex="-1" id="menu-button">
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-text">Menu</span>
      </button>
      <!--
      <button id="SideNavOpen" onclick="openNav()" tabindex="0" title="menu">
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
      </button>
      <button aria-controls="global-nav" aria-haspopup="true" tabindex="2" id="menu-button">
        <span class="menu-icon" aria-hidden="true">
          <svg version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30'><rect width='30' height='5'/><rect y='24' width='30' height='5' /><rect y='12' width='30' height='5'/></svg>
        </span>
      </button>
      -->
      <span id="search-button-wrapper" role="none">
        <a id="search-button"
          onclick="openSearch()"
          role="menuitem"
          aria-haspopup="true"
          aria-expanded="false"
          href="#"
          tabindex="-1">
          <i class="fa fa-search"></i>
        </a>
      </span>
    </div>
  </div>
</nav>
    <div id="footer-address" class="vcard">
			<div id="footercard">
				<span id="fn org">
					School of Law
				</span>&middot;
				<span id="adr">
						<span id="street-address">
	    				Philip H. Corboy Law Center &middot; 25 E. Pearson Street
						</span>,
	    			<span id="locality">
	    				Chicago
						</span>,
	    			<span class="region">
	    				Il
	    			</span>
	    			<span class="postal-code">
	    				60611
	    			</span>
					</span> &middot;
					<span class="tel">
	   				312.915.7120
	   			</span>
	   			<a class="email" href="mailto:"></a>
				</div>
			<p>&copy; Copyright &amp; Disclaimer 2018</p>
		</div>
<!-- LUC-FOOTER - CLOSED -->
