<div id="main-content">
	<div id="container">
		<style>
			#container > div > ul > ul > li,
			#container > div > ul > ul > li a {
				text-transform: uppercase;
				color: red !important;
				cursor: default;
			}
		</style>
		<div>
			<h2>Page Templates</h2>
			<ul>
				<li><a href="luc-color-palette.html">Color palette</a></li>
				<li><a href="luc-typography.html">Typography</a></li>
				<li><a href="luc-forms.html">Forms</a></li>
				<li><a href="luc-interior.html">Interior</a></li>
				<li><a href="luc-template-framework.html">Framework</a></li>
			</ul>
		</div>
	</div>
</div>
