<nav id="side-nav" aria-label="Main navigation" class="sidenav">
	 <!-- <a id="side-nav-close"><img src="images/close-icon.svg" alt="Close Navigation"/></a> -->
		<div id="sidenav-inner-wrapper">
	      <a href="#">About</a>
	  		<a href="#">About</a>
	  		<a href="#">About</a>
	  		<a href="#">About</a>
	  		<div id="accordionGroup" class="Accordion">
	        <h3>
	          <button aria-expanded="false"
	                  class="Accordion-trigger"
	                  aria-controls="sect1"
	                  id="accordion1id">
	            <span class="Accordion-title">
	              Navigation one
	              <span class="Accordion-icon"></span>
	            </span>
	          </button>
	        </h3>
	        <div id="sect1"
	             role="region"
	             aria-labelledby="accordion1id"
	             class="Accordion-panel"
	             hidden="">
	            <a href="#">Link one</a>
	            <a href="#">Link two</a>
	            <a href="#">Link three</a>
	        </div>
	        <h3>
	          <button aria-expanded="false"
	                  class="Accordion-trigger"
	                  aria-controls="sect2"
	                  id="accordion2id">
	            <span class="Accordion-title">
	              Navigation two
	              <span class="Accordion-icon"></span>
	            </span>
	          </button>
	        </h3>
	        <div id="sect2"
	             role="region"
	             aria-labelledby="accordion2id"
	             class="Accordion-panel"
	             hidden="">
	            <a href="#">Link one</a>
	            <a href="#">Link two</a>
	            <a href="#">Link three</a>
	        </div>
	        <h3>
	          <button aria-expanded="false"
	                  class="Accordion-trigger"
	                  aria-controls="sect3"
	                  id="accordion3id">
	            <span class="Accordion-title">
	              Navigation three
	              <span class="Accordion-icon"></span>
	            </span>
	          </button>
	        </h3>
	        <div id="sect3"
	             role="region"
	             aria-labelledby="accordion3id"
	             class="Accordion-panel"
	             hidden="">
	            <a href="#">Link one</a>
	            <a href="#">Link two</a>
	            <a href="#">Link three</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</nav>
